
@import url(http://fonts.googleapis.com/css?family=PT+Sans:700);
@font-face {
    font-family: 'rawengulkbold';
    src: url('fonts/rawengulkbold-webfont.eot');
    src: url('fonts/rawengulkbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rawengulkbold-webfont.woff2') format('woff2'),
         url('fonts/rawengulkbold-webfont.woff') format('woff'),
         url('fonts/rawengulkbold-webfont.ttf') format('truetype'),
         url('fonts/rawengulkbold-webfont.svg#rawengulkbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rawengulklight';
    src: url('fonts/rawengulklight-webfont.eot');
    src: url('fonts/rawengulklight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rawengulklight-webfont.woff2') format('woff2'),
         url('fonts/rawengulklight-webfont.woff') format('woff'),
         url('fonts/rawengulklight-webfont.ttf') format('truetype'),
         url('fonts/rawengulklight-webfont.svg#rawengulklight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rawengulkpcsregular';
    src: url('fonts/rawengulkpcs-webfont.eot');
    src: url('fonts/rawengulkpcs-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rawengulkpcs-webfont.woff2') format('woff2'),
         url('fonts/rawengulkpcs-webfont.woff') format('woff'),
         url('fonts/rawengulkpcs-webfont.ttf') format('truetype'),
         url('fonts/rawengulkpcs-webfont.svg#rawengulkpcsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	list-style: none;
	border:none;
	text-decoration: none;
	box-sizing:border-box; 
}

html{
	font-size: 10px;
}

body{
	font-size: 10px;
	margin:0;
}

ul, ol{
	margin: 0;
	padding: 0;
}

img{
	display: block;
	width: 100%;
	height:auto;
}

figure{
	line-height: 0;
	margin: 0;
}

#container{
	max-width: 1500px;
	margin:auto;
}

.cleaner{
	clear: both;
}

header{
	height: 70px;
	width: 100%;
	background: #290728; /* Old browsers */
	background: -moz-linear-gradient(top,  #290728 0%, #3c0a3c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#290728), color-stop(100%,#3c0a3c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #290728 0%,#3c0a3c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #290728 0%,#3c0a3c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #290728 0%,#3c0a3c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #290728 0%,#3c0a3c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#290728', endColorstr='#3c0a3c',GradientType=0 ); /* IE6-9 */
}

header #volver{
	float: left;
	width: 20%;
	margin-left: 3%;
}

header #volver a{
	color: white;
	text-decoration: none;
	font-size: 4.9em;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}

header figure{
	float: right;
	margin: 5px 30px 5px 0;
	width: 40px;
}

figure{
	width: 47%;
	margin: 30px auto 20px;
}

#container h1{
	font-family: 'rawengulklight', sans-serif;
	color:#909090;
	width:80%;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
}

 hr{
	width: 45%;
	border:4px solid #A1A1A1;
	margin-bottom: 20px;
}


#container h2{
	font-family: 'rawengulklight', sans-serif;
	color:#ff3500;
	border: 1px solid #ff3500;
	border-radius: 5px;
	text-align: center;
	margin: auto;
	padding: 1em;
	width: 80%;
	margin-bottom: 20px;
	font-size: 1.4em;
}


#container h3{
	font-family: 'rawengulklight', sans-serif;
	color:#fff;
	background: #ff2700; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff2700 0%, #ff5e07 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff2700), color-stop(100%,#ff5e07)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff2700 0%,#ff5e07 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff2700 0%,#ff5e07 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff2700 0%,#ff5e07 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff2700 0%,#ff5e07 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2700', endColorstr='#ff5e07',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	width: 80%;
	margin: auto;
	padding: 1em;
	text-align: center;
	font-size: 1.4em;
	margin-bottom: 20px;
}
 .siguiente{
    display: none;
    font-family: 'rawengulklight', sans-serif;
  color: #fff;
  background: #ff2700;
  background: -moz-linear-gradient(top, #ff2700 0%, #ff5e07 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff2700), color-stop(100%,#ff5e07));
  background: -webkit-linear-gradient(top, #ff2700 0%,#ff5e07 100%);
  background: -o-linear-gradient(top, #ff2700 0%,#ff5e07 100%);
  background: -ms-linear-gradient(top, #ff2700 0%,#ff5e07 100%);
  background: linear-gradient(to bottom, #ff2700 0%,#ff5e07 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2700', endColorstr='#ff5e07',GradientType=0 );
  border-radius: 5px;
  width: 80%;
  margin: auto;
  padding: 1em;
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 20px;
  }

#pasos figure{
	width: 90%;
	margin: 30px auto;
}

footer{
	background: #3b0a3b;
	width: 100%;
	height: 80px;
	margin-top: 20px;
}

@media screen and (min-width: 500px ) {
	figure{
	width: 30%;
	margin: 50px auto;
}
}

@media screen and (min-width: 700px ) {
	#pasos{
	width: 50%;
	margin:auto;
	}

	#container h2{
		width: 30%;
		margin: 5px auto;
	}
	.siguiente{
		width: 30%;
		margin: auto;
	}

	footer{
	height: 50px;
	}

	header{
	height: 50px;
	}

	header #volver{
	float: left;
	width: 18%;
	margin-left: 3%;
	}

	header figure{
		float: right;
		margin: 1px 30px 1px 0;
		width: 30px;
	}

	figure{
		width: 20%;
		margin: 30px auto 20px;
	}

	header #volver a{
	font-size: 4em;

	}
}
#results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
  }
 
  #start_button:focus{
    outline:0;
  }
      .cabecera{
        background: #e0e0e0;
        padding: 20px 0px;
      }
      .fecha,.lugar{
        width: 45%;
        display: inline-block;
      }
      .lugar{
        text-align: right;
      }
      .fecha{
        text-align: left;
      }
      .carta{
        width: 100%;
      }
      .cuerpo{
        width: 80%;
        text-align: justify;
        text-justify: inter-word;
        margin: 0 auto;
      }
